@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.App {
  text-align: center;
  height: 100vh;
  position: relative;
  background: hsl(226, 43%, 10%);
  font-family: 'Rubik', sans-serif;
}
.container {
  width: 90%;
  margin: auto;
  padding: 75px 0;
}
img {
  width: 100%;
}

/* MainCard component */
.section-card {
 background-color: hsl(235, 46%, 20%); 
 border-radius: 10px;
}

.main-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(246, 80%, 60%);
  padding: 2em 0;
  border-radius: 10px;
  z-index: 2;
}
.main-card .avatar {
  width: 20%;
}
.main-card .avatar img {
  border: 2px solid #fff;
  border-radius: 100px;
}
.main-card .avatar-text {
  width: 70%;
  text-align: left;
}
.main-card .avatar-text p {
  color: rgb(162, 151, 255);
  font-weight: 300;
}
.main-card .avatar-text h1 {
  color: hsl(236, 100%, 87%);
  font-weight: 300;
}

.section-card .main-nav {
  background-color: hsl(235, 46%, 20%);
  padding: 1.5em 0;
  border-radius: 10px;
}
.main-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 400;
  color: #fff;
}